[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markupsafe = "==2.0.0"
pelican-render-math = "*"
pelican = {extras = ["markdown"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
