#about {
    display: flex;
}

@media (max-width: 730px) {
    #about {
        display: block;
    }

    #prof {
        margin: auto;
        margin-top: 30px;
        width: 66%;
    }
}

.summary {
    color: var(--color)
}

.timeline {
    background-color: #FFF
}
