{% extends "base.html" %}

{% block content %}
<div class="containerart">
    <div class="container">
        <h2>Archives</h2>
         <table class="experiencetable">
            {% for article in dates %}
            <tr> 
                <td class="date" style="width:350px;"> {{ article.date.strftime('%Y.%m.%d') }}: </td> <td><a href="{{ SITEURL }}/{{ article.url }}"> {{ article.title }} </a> <br> <span style="color: #777">{{ article.description }}</span> </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
