@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono-Regular.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/JetBrainsMono-Bold.woff") format("woff");
}
